#sidebar {
  height: 100%;
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
  text-align: right;
  font-size: 20px;
}

a:visited, a:link{
  color: white;
  text-decoration: none;
  font-family: Verdana;
  line-height: 50px;
  padding-right: 10px;
}

a:hover {
  color: gray;
}

#bottombar {
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 140px;
  height: 100px;
  z-index: 1;
  color: white;
  font-size: 30px;
  text-align: left;
  font-family: Verdana;
}

#footer {
  color: white;
  font-size: 12px;
  bottom: 5px;
  left: 5px;
  position: absolute;
  font-family: Verdana;
}

#map {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 140px;
  bottom: 100px;
  height: calc(100vh - 100px);
  width: calc(100vw - 140px);
  z-index: 10;
}

#time-slider{
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.esri-attribution {
  height: 25px;
}

.esri-attribution__powered-by{
  opacity: 0;
}

.esri-time-slider__row{

}
