#sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
  text-align: right;
  font-size: 20px;
}

a:visited, a:link{
  color: white;
  text-decoration: none;
  font-family: Verdana;
  line-height: 50px;
  padding-right: 10px;
}

a:hover {
  color: gray;
}

#bottombar {
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 160px;
  height: 100px;
  z-index: 1;
  color: white;
  font-size: 30px;
  text-align: left;
  font-family: Verdana;
}

#footer {
  color: white;
  font-size: 12px;
  bottom: 5px;
  left: 5px;
  position: absolute;
  font-family: Verdana;
}

#map {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 160px;
  bottom: 100px;
  height: calc(100vh - 100px);
  width: calc(100vw - 160px);
  z-index: 10;
}

#time-slider{
 top: 150px;
 left: 17px;
 z-index: 99;
}

.esri-attribution {
  height: 25px;
}

.esri-attribution__powered-by{
  opacity: 0;
}

.esri-time-slider__time-extent, .esri-time-slider__row {

}

.esri-time-slider__slider {
  /*position: fixed;
  bottom: 0px;
  right: 0px;*/
}

.esri-layer-list__list.esri-layer-list__list--root.esri-layer-list__list--independent, .esri-component.esri-layer-list.esri-widget.esri-widget--panel {
  width: 0px;
  background: black;
  position: fixed;
  left: 0px;
  top: 0px;
}

.esri-layer-list__item {
  width: 160px;
  position: fixed;
  left: 0px;
  top: 180px;
}
